<section style="opacity: 0.9;">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">ADDICT TEA <i class="fas fa-leaf text-success"></i></h1>

      <p class="mt-3" style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nulla placeat provident magni beatae nihil! Minima unde nihil rerum, ratione, iure vero at explicabo perspiciatis eum mollitia similique enim natus.</p>

      <p style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur iure sapiente eaque mollitia quam, asperiores harum aliquid! Molestiae optio sapiente sint consectetur explicabo, eum, qui maxime sunt voluptatum repellat repudiandae.</p>

      <p style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur iure sapiente eaque mollitia quam, asperiores harum aliquid! Molestiae optio sapiente sint consectetur explicabo, eum, qui maxime sunt voluptatum repellat repudiandae.</p>
    </div>
    <div class="overlay"></div>
  </header>
</section>  