<section style="opacity: 0.9;">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">ADDICT TEA</h1>
      <h3 class="mb-5">
        <em>Vos tea times vont changer !</em> 🌿
      </h3>

      <% if user_signed_in? %>
      <%= link_to "Mon dashboard", static_pages_dashboard_path(current_user.id), class: "btn btn-success shadow mr-2" %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: 'delete', class: " btn btn-danger shadow" %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "btn btn-success shadow mr-2" %>
        <%= link_to "Inscription", new_user_registration_path, class: "btn btn-success shadow" %>
      <% end %>
    </div>
    <div class="overlay"></div>
  </header>
</section>  