/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * ************ Homepage template ************
 *
 *= require bootstrap/css/bootstrap.min
 *= require fontawesome-free/css/all.min
 *= require simple-line-icons/css/simple-line-icons
 *= require css/stylish-portfolio.min
 *
 * ************ Dashboard template *************
 *
 *= require dashboard/css/sb-admin-2.min
 *
 *= require_tree .
 *= require_self
 */

 /************* Home page **************/
 h1, h3 {
 	color: white;
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .sign-btn {
 	border: none;
 	margin: 15px;
 	padding: 20px;
 	width: 220px;
 	border-radius: 50px;
 	cursor: pointer;
 	color: #fff;
 	background-size: 200%;
 	transition: 0.6s;
 	background-image: linear-gradient(to left,#C4E538,#009432,#C4E538);
 }

 .sign-btn:hover {
 	background-position: right;
 	text-decoration: none;
 	color: #fff;
 }

 /************* End home page **************/

 /************** Forms *****************/

 .form {
 	width: 100%;
 	height: 100%;
 	background-image: url("/assets/tea-form2.jpg");
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: 1300px;
 }

 .login-form {
 	width: 370px;
 	background: white;
 	height: 600px;
 	padding: 60px 40px;
 	border-radius: 10px;
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	transform: translate(-50%,-50%);
 }

 .login-form h2 {
 	text-align: center;
 	margin-bottom: 20px;
 }

 .txtb {
 	border-bottom: 2px solid #28a745;
 	-moz-border-image: -moz-linear-gradient(top, #28a745 0%, #28a745 100%);
 	-webkit-border-image: -webkit-linear-gradient(top, #28a745 0%, #28a745 100%);
 	border-image: linear-gradient(to bottom, #28a745 0%, #28a745 100%);
 	border-image-slice: 1;
 	position: relative;
 	margin: 10px 0;
 }

 .txtb input {
 	font-size: 15px;
 	color: #333;
 	border: none;
 	width: 100%;
 	outline: none;
 	background: none;
 	padding: 0 5px;
 	height: 40px;
 }

 .txtb span::before {
 	content: attr(data-placeholder);
 	position: absolute;
 	top: 50%;
 	left: 5px;
 	color: #28a745;
 	transform: translateY(-50%);
 	z-index: -1;
 	transition: .5s;
 }

 .txtb span::after {
 	content: '';
 	position: absolute;
 	width: 0%;
 	height: 2px;
 	transition: .5s;
 }

 .focus + span::before {
 	top: -5px;
 }
 .focus + span::after {
 	width: 100%;
 }

 .logbtn {
 	display: block;
 	width: 100%;
 	height: 50px;
 	margin-top: 20px;
 	border: none;
 	color: #fff;
 	outline: none;
 	cursor: pointer;
 	transition: .5s;
 }

 .logbtn:hover {
 	background-position: right;
 }

 .bottom-text {
 	margin-top: 10px;
 	text-align: center;
 	font-size: 13px;
 }

 /************** End forms *****************/

 /************** Card css *****************/

  @keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.card-me:hover {
	animation: bounce 0.8s;
}
 
 /************** End card css *****************/

 /************** Timer css *****************/

  button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-weight: 300;
  font-size: 18px;
  width: 25px;
  height: 30px;
  color: #1cc88a;
  cursor: pointer;
}

button[data-setter]:hover { opacity: 0.5; }

.minutes-set {
  text-align: center;
  margin-right: 28px;
  position: relative;
  top: 90px;
}

.seconds-set {
  position: relative;
  top: 90px;
  text-align: center;
}

.display-remain-time {
  font-weight: 100;
  font-size: 65px;
  color: #1cc88a;
}

.controlls {
	position: relative;
	bottom: 200px;
}

#pause {
  outline: none;
  background: transparent;
  border: none;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}

.play::before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22px solid #1cc88a;
}

.pause::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 30px;
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #1cc88a;
  border-top: none;
  border-bottom: none;
}

#pause:hover { opacity: 0.8; }

.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.e-c-progress {
  fill: none;
  stroke: #1cc88a;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #1cc88a;
  stroke-width: 2px;
}

#e-pointer { transition: transform 0.7s; }

 /************** End timer css *****************/
